<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	
	<appender name="tcfBifPocLog" class="org.apache.log4j.rolling.RollingFileAppender">
		<param name="file" value="/tmp/log/tcf-bif-poc/tcf-bif-poc.log" />
		<param name="append" value="true" />
		<param name="encoding" value="UTF-8" />
		
		<rollingPolicy class="org.apache.log4j.rolling.TimeBasedRollingPolicy">
			<param name="FileNamePattern" value="/tmp/log/tcf-bif-poc/tcf-bif-poc.log.%d{yyyyMMdd}.log" />
		</rollingPolicy>

		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %p [%c] - %m %n" />
		</layout>
	</appender>
	
	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %p [%c] - %m %n" />
		</layout>
	</appender>
	
	<logger name="service">
		<level value="debug"/>
		<appender-ref ref="tcfBifPocLog" />
	</logger>
	
	<root>
		<priority value ="info" />
		<appender-ref ref="stdout" />
	</root>
	
</log4j:configuration>